* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 30px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  padding: 40px 0;
  display: flex;
  gap: 20px;
}

.filter {
  width: 200px;
}

.title {
  font-size: 26px;
  margin-top: 20px;
  text-align: center;
}

.flats-wrapper {
  width: 100%;
}

.flats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.flats__item {
  display: flex;
  gap: 8px;
  width: 440px;
  height: 240px;
  padding: 10px;
  border: 1px solid rgb(185, 179, 179);
  border-radius: 6px;
}

.flat-img {
  width: 200px;
}

.flat-info__title {
  font-size: 18px;
  font-weight: 700;
}

.flat-more {
  color: #2a72ee;
  text-decoration: none;
}

.flat-detail {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.flat-detail__img {
  max-width: 600px;
}

.flat-detail__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 100px;
}

.back-btn {
  display: block;
  width: 170px;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 40px;
}

.btn-nav {
  width: 100px;
  padding: 10px 20px;
}

.sort-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.sort-wrapper__btn {
  padding: 0 10px;
  cursor: pointer;
}

.btn {
  padding: 9px 19px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  color: #2a72ee;
  background: #e6e9ed;
}

.btn:hover {
  background: lightblue;
}